In [57]:

import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [92]:
file = input('Introduce el nombre del archivo: ')
with open('files/{file}.json'.format(file =file), encoding='utf-8') as file:
    df = pd.read_json(file).astype(str)


df.drop_duplicates(keep='first',ignore_index=True,inplace=True)

df = df[~((df.rating == "['ND']") & (df.year == "['ND']") &
    (df.budget == "['ND']") & (df.boxOffice_collection == "['ND']") &
    (df.cast == "nan") & (df.personajes == "nan"))
    ]

df.to_json('files/{file}_1.json'.format(file =file), orient='split', index=False)
df
#df.dropna(subset=['genre','rati=ng','year','duracion','busget','boxOffice_collection'],inplace=False)

,id_imdb,title,genre,rating,year,duracion,estreno,budget,boxOffice_collection,cast,personajes
0,['tt6718170'],['The Super Mario Bros. Movie'],"['Animation', 'Adventure', 'Comedy']",['ND'],['2023'],[''],"['Expected April 7, 2023']",['ND'],['ND'],"['Chris Pratt', 'Anya Taylor-Joy', 'Charlie Da...","['Mario', 'Princess Peach', 'Luigi', 'Bowser',..."
1,['tt0499549'],['Avatar'],"['Action', 'Adventure', 'Fantasy']",['7.8'],['2009'],['2h 42m'],[0],"['$237,000,000 (estimated)']","['$2,921,872,141']","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...","['Jake Sully', 'Neytiri', 'Dr. Grace Augustine..."
2,['tt8912936'],['DC League of Super-Pets'],"['Animation', 'Action', 'Adventure']",['7.4'],['2022'],['1h 45m'],[0],"['$90,000,000 (estimated)']","['$199,206,127']","['Dwayne Johnson', 'Kevin Hart', 'Kate McKinno...","['Krypto', 'Ace', 'Lulu', 'Superman', 'PB', 'M..."
3,['tt1630029'],['Avatar: The Way of Water'],"['Action', 'Adventure', 'Fantasy']",['ND'],['2022'],[''],"['Releases December 16, 2022']","['$250,000,000 (estimated)']",['ND'],"['Kate Winslet', 'Zoe Saldana', 'Sigourney Wea...","['Ronal', 'Neytiri', 'Kiri', 'Dr. Karina Mogue..."
4,['tt10648342'],['Thor: Love and Thunder'],"['Action', 'Adventure', 'Comedy']",['6.4'],['2022'],['1h 58m'],[0],"['$250,000,000 (estimated)']","['$760,678,423']","['Chris Hemsworth', 'Natalie Portman', 'Christ...","['Thor', 'Jane Foster', 'Gorr', 'King Valkyrie..."
...,...,...,...,...,...,...,...,...,...,...,...
10984,['tt8851338'],['Party Poopers'],['Animation'],['ND'],['ND'],[''],[0],['ND'],['ND'],"['Jessica Babayan', 'Athena Marie']","['Violet', 'Zophie']"
10985,['tt0158658'],['Hola amigos'],['Animation'],['ND'],['1996'],['50m'],[0],['ND'],['ND'],nan,nan
10986,['tt10990756'],['MULT v kino. Vypusk # 97'],['Animation'],['ND'],['2019'],['50m'],[0],['ND'],['ND'],nan,nan
10987,['tt15286358'],['Kurayukaba'],['Animation'],['ND'],['2021'],[''],[0],['ND'],['ND'],"['Tomoyo Kurosawa', 'Raikô Sakamoto', 'Yû Seri...","['Tanne', 'Inarizaka', 'Saki']"
10988,['tt1817290'],['UtopiaLand'],"['Animation', 'Comedy']",['ND'],['2011'],['1h 30m'],[0],"['$4,000,000 (estimated)']",['ND'],"['Ali Bell', 'Joseph James Bellamy', 'Phil Buc...","['Various', 'Various', 'Rod Webber']"